@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Anton';
    src: url(/fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: "Archivo";
    src: url(/fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

p, h4, span{
    font-family: "Inter";
}

h1, h2, h3{
    font-family: "Anton";
}

*{
    margin: 0;
}

html{
    background-color: #FBF7F4;
}