---

---

<div id="cardwrapper">
  <div id="imgwrapper">
    <img src="/public/imgs/testbillede.png" />
  </div>
  <p><span>LOCAL CRTV </span>Hun er blevet latterliggjort i årevis. Nu gør Marie Munk overbevisende comeback</p>
</div>

<style>
  span {
    text-decoration: underline;
    color: #645986;
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    bottom: 2px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    margin: 22px 0;
  }

  #imgwrapper {
    height: 244px;
    width: 440px;
    overflow: hidden;
  }

  img {
    max-height: auto;
    width: 440px;
  }

  #cardwrapper {
    width: 440px;
  }
</style>
