---
const { tag, title, src } = Astro.props;
---

<div id="cardwrapper">
  <div id="imgwrapper">
    <img src={src} />
  </div>
  <div id="textwrapper">
    <div>
      <p>{tag}</p>
      <h1>{title}</h1>
    </div>
  </div>
</div>

<style>
  p {
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    color: #645986;
    text-align: center;
    margin-bottom: 10px;
  }

  h1 {
    color: #517664;
    font-size: 56px;
    font-weight: 550;
    text-align: center;
    line-height: 55px;
  }

  #imgwrapper {
    height: 528px;
    width: 952px;
    overflow: hidden;
  }

  img {
    max-height: auto;
    width: 952px;
  }

  #cardwrapper {
    width: 952px;
  }

  #textwrapper {
    max-width: 792px;
    margin: 32px auto 0;
  }
</style>
