<div id="cardwrapper">
  <div id="imgwrapper">
    <img src="/public/imgs/testbillede.png" />
  </div>
  <p id="tag">Tag</p>
  <p>Hun er blevet latterliggjort i årevis. Nu gør Marie Munk overbevisende comeback</p>
</div>

<style>
  #tag {
    text-decoration: underline;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 15px 0 10px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }

  #imgwrapper {
    height: 174px;
    width: 314px;
    overflow: hidden;
  }

  img {
    max-height: auto;
    width: 314px;
  }

  #cardwrapper {
    width: 314px;
  }
</style>
