---
const { tag, title, src } = Astro.props;
---

<div id="cardwrapper">
  <div id="imgwrapper">
    <img src={src} />
  </div>
  <p id="tag">{tag}</p>
  <p>{title}</p>
</div>

<style>
  #tag {
    text-decoration: underline;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 15px 0 10px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }

  #imgwrapper {
    height: 174px;
    width: 314px;
    overflow: hidden;
  }

  img {
    max-height: auto;
    width: 314px;
  }

  #cardwrapper {
    width: 314px;
  }
</style>
