---
import "/src/styles/global.css";
import Layout from "../layout/MainPage.astro";
import Card from "../components/Cards/Card.astro";
import HeroCard from "../components/Cards/HeroCard.astro";
import SmallCard from "../components/Cards/SmallCard.astro";
import TinyCard from "../components/Cards/TinyCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main>
    <Card tag="Local CRTV" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur necessitatibus placeat, provident officia est vel inventore illo libero incidunt dicta totam repellat ab ad." src="https://picsum.photos/200/300"></Card>
    <HeroCard tag="Local CRTV" title="Lorem ipsum dolor sit amet consectetur adipisicing elit." src="https://picsum.photos/200/300"></HeroCard>
    <SmallCard tag="Local CRTV" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur necessitatibus placeat, provident officia est vel inventore illo libero incidunt dicta totam repellat ab ad." src="https://picsum.photos/200/300"></SmallCard>
    <TinyCard date="07/05 - 2001" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. " src="https://picsum.photos/200/200"></TinyCard>
     </main>
    <Footer />
    
   
  </body>
</html>
