---

---

<footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 72" id="scrolltext">
    <text x="0" y="70" fill="white"> NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++ </text>
    <text x="0" y="70" fill="white"> NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++&nbsp;&nbsp;NEWSLETTER++</text>
  </svg>
  <div class="grid_1-1">
    <h1>DESIGN NEWS TO YOUR INBOX</h1>
    <div class="grid_1-2">
      <div></div>
      <div id="email">
        <input placeholder="Email" />
        <button>Sign up</button>
      </div>
    </div>
  </div>
  <div class="grid_1-1-1-1">
    <p id="name">Creative Escape</p>
    <div class="whitetext">
      <p>Art</p>
      <p>Design</p>
      <p>Architecture</p>
    </div>
    <div class="whitetext">
      <p>Website</p>
      <p>Podcast</p>
      <p>Authors</p>
    </div>
    <div class="whitetext">
      <p>Styleguide</p>
      <p>Licensing</p>
      <p>Changelog</p>
    </div>
  </div>
  <div id="socials">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 7.49984C9.33698 7.49984 8.7011 7.76323 8.23225 8.23207C7.76341 8.70091 7.50002 9.3368 7.50002 9.99984C7.50002 10.6629 7.76341 11.2988 8.23225 11.7676C8.7011 12.2364 9.33698 12.4998 10 12.4998C10.6631 12.4998 11.2989 12.2364 11.7678 11.7676C12.2366 11.2988 12.5 10.6629 12.5 9.99984C12.5 9.3368 12.2366 8.70091 11.7678 8.23207C11.2989 7.76323 10.6631 7.49984 10 7.49984ZM10 5.83317C11.1051 5.83317 12.1649 6.27216 12.9463 7.05356C13.7277 7.83496 14.1667 8.89477 14.1667 9.99984C14.1667 11.1049 13.7277 12.1647 12.9463 12.9461C12.1649 13.7275 11.1051 14.1665 10 14.1665C8.89495 14.1665 7.83514 13.7275 7.05374 12.9461C6.27234 12.1647 5.83335 11.1049 5.83335 9.99984C5.83335 8.89477 6.27234 7.83496 7.05374 7.05356C7.83514 6.27216 8.89495 5.83317 10 5.83317ZM15.4167 5.62484C15.4167 5.90111 15.3069 6.16606 15.1116 6.36141C14.9162 6.55676 14.6513 6.6665 14.375 6.6665C14.0988 6.6665 13.8338 6.55676 13.6385 6.36141C13.4431 6.16606 13.3334 5.90111 13.3334 5.62484C13.3334 5.34857 13.4431 5.08362 13.6385 4.88827C13.8338 4.69292 14.0988 4.58317 14.375 4.58317C14.6513 4.58317 14.9162 4.69292 15.1116 4.88827C15.3069 5.08362 15.4167 5.34857 15.4167 5.62484ZM10 3.33317C7.93835 3.33317 7.60169 3.339 6.64252 3.3815C5.98919 3.41234 5.55085 3.49984 5.14419 3.65817C4.80387 3.78312 4.4962 3.98339 4.24419 4.244C3.98336 4.496 3.78281 4.80366 3.65752 5.144C3.49919 5.55234 3.41169 5.98984 3.38169 6.64234C3.33835 7.56234 3.33335 7.88401 3.33335 9.99984C3.33335 12.0615 3.33919 12.3982 3.38169 13.3573C3.41252 14.0098 3.50002 14.449 3.65752 14.8548C3.79919 15.2173 3.96585 15.4782 4.24252 15.7548C4.52335 16.0348 4.78419 16.2023 5.14252 16.3407C5.55419 16.4998 5.99252 16.5882 6.64252 16.6182C7.56252 16.6615 7.88419 16.6665 10 16.6665C12.0617 16.6665 12.3984 16.6607 13.3575 16.6182C14.0092 16.5873 14.4484 16.4998 14.855 16.3423C15.1948 16.2168 15.5023 16.0169 15.755 15.7573C16.0359 15.4765 16.2034 15.2157 16.3417 14.8573C16.5 14.4465 16.5884 14.0073 16.6184 13.3573C16.6617 12.4373 16.6667 12.1157 16.6667 9.99984C16.6667 7.93817 16.6609 7.60151 16.6184 6.64234C16.5875 5.99067 16.5 5.55067 16.3417 5.144C16.2161 4.80401 16.0159 4.49647 15.7559 4.244C15.504 3.98304 15.1963 3.78248 14.8559 3.65734C14.4475 3.499 14.0092 3.4115 13.3575 3.3815C12.4375 3.33817 12.1159 3.33317 10 3.33317ZM10 1.6665C12.2642 1.6665 12.5467 1.67484 13.435 1.7165C14.3225 1.75817 14.9267 1.89734 15.4584 2.104C16.0084 2.31567 16.4717 2.60234 16.935 3.06484C17.3588 3.48142 17.6867 3.98533 17.8959 4.5415C18.1017 5.07234 18.2417 5.67734 18.2834 6.56484C18.3225 7.45317 18.3334 7.73567 18.3334 9.99984C18.3334 12.264 18.325 12.5465 18.2834 13.4348C18.2417 14.3223 18.1017 14.9265 17.8959 15.4582C17.6873 16.0147 17.3593 16.5187 16.935 16.9348C16.5183 17.3584 16.0144 17.6863 15.4584 17.8957C14.9275 18.1015 14.3225 18.2415 13.435 18.2832C12.5467 18.3223 12.2642 18.3332 10 18.3332C7.73585 18.3332 7.45335 18.3248 6.56502 18.2832C5.67752 18.2415 5.07335 18.1015 4.54169 17.8957C3.98529 17.6869 3.48129 17.359 3.06502 16.9348C2.64119 16.5183 2.3133 16.0144 2.10419 15.4582C1.89752 14.9273 1.75835 14.3223 1.71669 13.4348C1.67752 12.5465 1.66669 12.264 1.66669 9.99984C1.66669 7.73567 1.67502 7.45317 1.71669 6.56484C1.75835 5.6765 1.89752 5.07317 2.10419 4.5415C2.31272 3.98499 2.64069 3.48094 3.06502 3.06484C3.48141 2.64086 3.98538 2.31295 4.54169 2.104C5.07335 1.89734 5.67669 1.75817 6.56502 1.7165C7.45335 1.67734 7.73585 1.6665 10 1.6665Z"
        fill="#392300"></path>
    </svg>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18.4683 4.71327C17.8321 4.99468 17.1574 5.1795 16.4666 5.26161C17.1948 4.82613 17.7397 4.14078 18 3.33327C17.3166 3.73994 16.5675 4.02494 15.7866 4.17911C15.2622 3.61792 14.5669 3.24574 13.8091 3.12043C13.0513 2.99511 12.2733 3.12368 11.596 3.48615C10.9188 3.84862 10.3803 4.42468 10.0642 5.12477C9.74818 5.82486 9.67227 6.60976 9.84832 7.35744C8.46257 7.28798 7.10693 6.92787 5.86939 6.30049C4.63185 5.67311 3.54009 4.79248 2.66498 3.71577C2.35522 4.24781 2.19245 4.85263 2.19332 5.46827C2.19332 6.6766 2.80832 7.74411 3.74332 8.36911C3.18999 8.35169 2.64884 8.20226 2.16498 7.93327V7.9766C2.16515 8.78136 2.44362 9.56129 2.95319 10.1842C3.46275 10.807 4.17205 11.2345 4.96082 11.3941C4.44716 11.5333 3.90857 11.5538 3.38582 11.4541C3.60821 12.1468 4.04166 12.7526 4.62548 13.1867C5.2093 13.6208 5.91426 13.8614 6.64165 13.8749C5.91872 14.4427 5.09096 14.8624 4.20572 15.1101C3.32047 15.3577 2.39509 15.4285 1.48248 15.3183C3.07556 16.3428 4.93006 16.8867 6.82415 16.8849C13.235 16.8849 16.7408 11.5741 16.7408 6.96827C16.7408 6.81827 16.7366 6.66661 16.73 6.51827C17.4124 6.02508 18.0013 5.41412 18.4691 4.71411L18.4683 4.71327Z"
        fill="#392300"></path>
    </svg>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17.9525 5.41516C18.3334 6.90016 18.3334 10.0002 18.3334 10.0002C18.3334 10.0002 18.3334 13.1002 17.9525 14.5852C17.7409 15.406 17.1217 16.0518 16.3375 16.2702C14.9134 16.6668 10 16.6668 10 16.6668C10 16.6668 5.08919 16.6668 3.66252 16.2702C2.87502 16.0485 2.25669 15.4035 2.04752 14.5852C1.66669 13.1002 1.66669 10.0002 1.66669 10.0002C1.66669 10.0002 1.66669 6.90016 2.04752 5.41516C2.25919 4.59433 2.87835 3.9485 3.66252 3.73016C5.08919 3.3335 10 3.3335 10 3.3335C10 3.3335 14.9134 3.3335 16.3375 3.73016C17.125 3.95183 17.7434 4.59683 17.9525 5.41516ZM8.33335 12.9168L13.3334 10.0002L8.33335 7.0835V12.9168Z"
        fill="#392300"></path>
    </svg>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M2.5 2.5C10.7842 2.5 17.5 9.21583 17.5 17.5H15C15 10.5967 9.40333 5 2.5 5V2.5ZM2.5 8.33333C7.5625 8.33333 11.6667 12.4375 11.6667 17.5H9.16667C9.16667 15.7319 8.46429 14.0362 7.21405 12.786C5.9638 11.5357 4.26811 10.8333 2.5 10.8333V8.33333ZM2.5 14.1667C3.38405 14.1667 4.2319 14.5179 4.85702 15.143C5.48214 15.7681 5.83333 16.6159 5.83333 17.5H2.5V14.1667Z"
        fill="#392300"></path>
    </svg>
  </div>
</footer>

<style>
  footer {
    background-color: #517664;
    padding: 2rem;
  }

  h1 {
    color: #645986;
    font-family: "Archivo";
    font-size: 80px;
  }

  #socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 5rem 0;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
  }

  .whitetext {
    color: white;
    border-top-style: solid;
    border-width: 0.5px;
  }

  .whitetext p {
    margin-top: 1.5rem;
    font-size: 12px;
  }

  #name {
    color: #645986;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  button {
    background-color: #645986;
    border-style: none;
    padding: 0.7rem 1rem;
  }

  input {
    height: 2rem;
    width: 15rem;
  }

  #email {
    margin-top: 4rem;
  }

  text {
    font-family: "Archivo";
  }

  #scrolltext {
    margin-top: -100px;
  }

  text:nth-child(1) {
    animation: scrollTextStart 8s infinite linear;
  }
  text:nth-child(2) {
    animation: scrollTextEnd 8s infinite linear;
  }
  @keyframes scrollTextStart {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes scrollTextEnd {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
</style>
